<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="d-flex align-content-center toolbar">
    <div class="clickable" (click)="sidenav.toggle()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="ms-3">
      Hello, it's {{ todayDate | date: 'dd MMMM yyyy'}}
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 [opened]="true"
    >
      <div>
      <mat-nav-list class="sidenav">
        <ul class="nav nav-pills flex-column  mt-4">
          <li class="clickable" data-bs-toggle="collapse" data-bs-target="#sub-menu" aria-controls="sub-menu" style="font-size: 18px">
            <i class="fa-solid fa-check me-1"></i>
            My Tasks
            <div class="collapse" id="sub-menu">
              <ul class="inner-nav nav nav-pills ms-5">
                <li class="clickable" routerLink="/features/todo/todo-list" style="font-size: 15px">
                  List view
                </li>
                <li class="clickable" routerLink="/features/todo/todo-dragdrop" style="font-size: 15px">Drag & Drop view</li>
                <li class="clickable" routerLink="/features/todo/todo-chart" style="font-size: 15px">Chart </li>
              </ul>
            </div>
          </li>
          <li class="clickable" routerLink="create-todo" style="font-size: 18px">
            <i class="fa-solid fa-plus me-1"></i>
            New Task
          </li>
        </ul>
      </mat-nav-list>
      </div>

      <div class="sidenav-bottom">
        <a class="text-decoration-none" href="https://www.papernest.com/contact/">
          Contact support
        </a>
      </div>
    </mat-sidenav>


    <mat-sidenav-content>
      <div class="my-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
